.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4px;
}

.Card {
  transition: transform 0.2s;
  margin: 10px;
}

.Card:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
