.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4px;
  width: 100%;
  min-height: 700px;
  padding: 4px;
}

.card {
  transition: transform 0.2s;
  width: 240;
  margin: 6;
}
.card:hover {
  transform: scale(1.05);
}
