#backBtn {
  position: absolute;
  text-align: center;
  top: 60%;
  left: 50%;
  transform: translateX(-50%); /*Added*/
  z-index: -1;
}

#cardInfo {
  width: 60%;
}

label {
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px;
  max-width: 1200px;
  margin: auto;
}

.button {
  align-items: center;
}

#cardInfo {
  margin-left: 15px;
}

#card {
  width: 500px;
  margin-left: 200px;
}
