.search {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#image {
  width: 100%;
}

#header {
  margin: 12px;
  color: white;
  font-family: Arial;
  font-size: 32px;
  -size: 25px;
}
